.bar {
/*    min-height: 1366px;*/
    min-width: 24px;
    background-color: rgba(25, 25, 25, 0.01);
}

.launcher {
    margin: 5px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    background-color: rgba(50, 50, 50, 0.7);
}

.launcher > label {
    /* padding-top: 2px;
    padding-bottom: 2px; */
    padding-right: 4px;
    font-size: 22px;
    color: white;
}

/* .workspaces {
    margin: 5px;
    border-radius: 50px;
    background-color: rgba(50, 50, 50, 0.7);
}

.workspaces > box {
    padding-top: 10px;
    padding-bottom: 10px;
} */

.workspace {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    color: rgb(65, 65, 65);
}

.workspace:hover {
    color: rgb(85, 85, 85)
}

.workspace > label {
    /* margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 13px;
    padding-right: 7px; */
    padding-right: 22px;
    font-size: 25px;
}

.selected-workspace {
    color: #1e64d2;
}

.selected-workspace:hover {
    color: #5194ff;
}

.quick-view {
    margin: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    background-color: rgba(50, 50, 50, 0.7);
    color: white;
    font-size: 16px;
    font-family: "Inter SemiBold", sans-serif;
}

.clock {
    padding-bottom: 5px;
}

.battery {
    padding-bottom: 3px;
}