.mpris-content {
    background-color: rgba(60, 60, 60, 0.01);
    border-radius: 10px;
    min-width: 100px;
}

/* .cava-bar > trough > progress {
    min-width: 15px;
    
    background-color: white;
    border: none;
    border-radius: 0px;
}

.cava-bar > trough {
    min-width: 15px;
    background: none;
    border: none;
}

.cava-bar {
    margin-left: 5px;
    margin-right: 5px;
    min-height: 150px;
} */

.track-label {
    font-family: "Inter SemiBold", sans-serif;
    font-size: 14px;
    margin-left: 20px;
    color: white;
}

.controls-container {
    margin-left: 10px;
}

.controls {
    background-color: rgba(40, 40, 40, 0.7);
    background-image: none;
    border: none;
    text-shadow: none;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: none;
}

.controls > label {
    color: white;
    border-radius: 40px;
    padding-left: 3px;
    padding-right: 3px;
}