#ags-drawer {
    background-color: rgba(0, 0, 0, 0);
}

#ags-drawer > box {
    min-height: 1px;
    min-width: 1px;
    padding: 1px;
}

.drawer-content {
    min-height: 1048px;
    min-width: 400px;

    /* animation: drawer-popin 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 5; */
}

.hi-corbin {
    margin: 20px;

    font-family: 'Inter SemiBold', sans-serif;
    /* font-family: 'JetBrainsMonoNL NFM SemiBold', monospace; */
    font-size: 40px;

    color: white;
}

.quick-settings {
    /* min-height: 300px; */

    margin: 20px;
    margin-bottom: 0px;

    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.05);
}

/* .quick-settings-title {
    margin: 10px;

    font-family: 'Inter SemiBold', sans-serif;
    font-size: 16px;

    color: white;
} */

.volume-icon {
    margin: 20px;
    margin-left: 28px;

    font-size: 25px;

    color: white;
}

.volume-slider {
    margin: 20px;
    margin-right: 34px;
    margin-left: 10px;
}

.brightness-icon {
    margin: 20px;
    margin-top: 0px;
    margin-left: 28px;

    font-size: 25px;

    color: white;
}

.brightness-slider {
    margin: 20px;
    margin-top: 0px;
    margin-right: 34px;
    margin-left: 10px;
}

.cpu-icon {
    margin: 20px;
    margin-left: 28px;

    font-size: 25px;

    color: white;
}

.cpu-progress {
    margin: 20px;
    margin-right: 34px;
    margin-bottom: 34px;
    margin-left: 10px;
}

.cpu-progress > trough {
    min-height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cpu-progress > trough > progress {
    min-height: 2px;
}

.ram-icon {
    margin: 20px;
    margin-left: 28px;
    margin-top: 0px;

    font-size: 25px;

    color: white;
}

.ram-progress {
    margin: 20px;
    margin-top: 0px;
    margin-right: 34px;
    margin-left: 10px;
    margin-bottom: 34px;
}

.ram-progress > trough {
    min-height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.ram-progress > trough > progress {
    min-height: 2px;
}

.storage-icon {
    margin: 20px;
    margin-left: 28px;
    margin-top: 0px;

    font-size: 25px;

    color: white;
}

.storage-progress {
    margin: 20px;
    margin-top: 0px;
    margin-right: 34px;
    margin-left: 10px;
    margin-bottom: 36px;
}

.storage-progress > trough {
    min-height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.storage-progress > trough > progress {
    min-height: 2px;
}

.shortcuts {
    margin: 20px;
    margin-bottom: 0px;

    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.05);
}

.shortcut > box {
    margin: 25px;
    margin-bottom: 10px;
}

.shortcut > box > box {
    /* margin: 25px; */
    /* margin-bottom: 10px; */
    margin-right: 25px;
    

    min-width: 25px;
    min-height: 25px;

    background-size: cover;
}

.shortcut > box > label {
    font-family: 'Inter SemiBold', sans-serif;

    color: white;
}

.google-classroom > box > box {
    min-width: 30px;
    min-height: 26px;
}

.realistic-cities > box > box {
    /* margin-bottom: 25px; */
}

.ags-config > box {
    margin-bottom: 25px;
}

.logout > box {
    margin: 20px;
    margin-top: 330px;

    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.05);
}

.logout-icon {
    margin: 20px;

    font-size: 20px;

    color: white;
}

.logout-text {
    font-family: 'Inter SemiBold', sans-serif;

    color: white;
}