.quick-settings {
    background-color: rgba(60, 60, 60, 0.01);
    border-radius: 10px;
    min-height: 400px;
    min-width: 300px;
}

.profile-picture {
    margin: 10px;
    background-image: url("../../../../Pictures/astronaut-on-horse.png");
    background-size: cover;
    min-height: 40px;
    min-width: 40px;
    border-radius: 40px;
}

.power-button {
    background-color: rgba(40, 40, 40, 0.7);
    background-image: none;
    border: none;
    text-shadow: none;
    margin: 10px;
    /* min-height: 40px;
    min-width: 40px; */
    font-size: 20px;
    border-radius: 40px;
    box-shadow: none;
}

.power-button > label {
    color: white;
    border-radius: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.volume-button {
    background-color: rgba(40, 40, 40, 0.7);
    background-image: none;
    border: none;
    text-shadow: none;
    margin: 10px;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: none;
}

.volume-button > label {
    color: white;
    border-radius: 40px;
    padding-right: 5px
}

.volume-slider {
    min-height: 8px;
    border-radius: 10px;
    border: none;
}

.volume-slider > contents {
    min-height: 8px;
    border-radius: 10px;
    border: none
}

.volume-slider > contents > trough {
    min-height: 8px;
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.7);
    border-color: rgba(40, 40, 40, 0.7);
}

.volume-slider > contents > trough > highlight {
    background-color: #1e64d2;
    min-height: 8px;
    border-radius: 10px;
    border: none;
}

.volume-slider > contents > trough > slider {
    min-height: 8px;
    background: none;
    border-radius: 25px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    /* background-color: white;
    background-image: none; */
}

.battery-label {
    font-family: "Inter SemiBold", sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    /* padding-right: 120px; */
    color: white;
}
